style.css

/* Universal selector*/
* {
}

/* This is setting the background image, border, and font for the whole page */
body {
    background-image: url(https://cdn.shopify.com/s/files/1/2486/4354/products/Peter-Lik-Into-the-Mist-Framed-Recess-Mount_1800x.jpg?v=1585081774);
    background-size: cover;
    border: solid 15px rgb(88, 88, 88);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* This sets all the elements inside the header */
.headerbox {
    width: 100%;
    height: 100px;
    margin: 1px;
    background: linear-gradient(#aaa820,#0c4047);
    color: white;
    position: relative;
    text-align: justify;
    display: inline;
    float: left;
    letter-spacing: 2px;
    flex-wrap: wrap;
}

/* This was simply added so I could get a second gradient color underneath for design */
.bar {
    width: 100%;
    height: 205px;
    margin: 1px;
    background: linear-gradient(#659279, #b1beaf );
}
/* This
 is setting the style and fromat for my nav bar items at the top right */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-size: medium;
    color: white;
}

/* This is specific to the list of items in the nav bar, setting style and format */
li {
    display: inline;
    float: right;
    margin: 2px;
    position: relative; bottom: 50px; right: 20px;
    padding: 10px;
    color: white;
    border-right: 3px solid black;
}

/* When you hover over a list item it changes background color and font */
li a:hover {
    background-color: white;
    color: green;
}

/* Once you have visited the link it turns red */
a:visited {
    color: rgb(248, 123, 144);
}

/* This is positioning and size for my pictures */
.ProfilePic {
    position:relative;
    height: 500px;
    width: 250px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    border-radius: 15px;
}

/* This is my main text box with my photo in it. Setting the style and format */
.textdescription {
    max-width: 1500px;
    max-height: 1600px;
    margin-left:5%;
    margin-right:5%;
    margin-top: 20px;
    border:5px solid rgb(6, 78, 68);
    display: inline-block;
    background: linear-gradient(#aaa820,#0c4047);
    text-align: center;
    font-size: xx-large;
    color: white;
}

/* This floats the profile picture to the left */
.textdescription img {
    float: left;}

/* These are my 4 boxes that are holding the photos */
.box {
    height: 300px;
    max-width: 1500px;
    max-height: fit-content;
    margin: 20px 20px 20px 20px;
    display:inline-block;
    text-align: left;
    background: linear-gradient(#659279, #b1beaf);
    color: white;
}

/* Setting the size of the photos in my boxes */
.box img {
    height: 225px; width: 300px;
    }

    /* Enlarging my images when they are hovered over */
.box :hover {
transform: scale(1.15);
}

/* These are the headers on my four boxes */
header {
    border: 2px rgb(255, 255, 255) solid;
    text-align: center;
    font-size: x-large;
    color: whitesmoke;
    background-color: rgb(88, 88, 88)
}
/* This is the footer at the bottom with "Contact Me */
footer {
    font-size: xx-large;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}
/* #nav {
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
    flex-direction: column;
} */

/* Textbox media query textdescription */
@media(max-width: 90rem) {
    .textdescription {
        display:
    }


}
@media(min-width: 180op) {
    .menubar {
    }
}

@media(max-width: 819px) {
    li {
        float: none;
        margin: 0px;
        position: inherit;
    }
    ul {
        text-align: center;
    }
}
@media all and (max-width: 400px) {  
    footer > li {  
        flex-basis: 100%;  
    }  
    .Contact-Me {  
    order: 1;  
    }
/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
    .menubar {
padding: 20px 10px !important;
float: right;
    }
